@model List<WebApplication2.Models.authors>

@{
    ViewData["Title"] = "Авторы";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        header {
            background-color: #F49999;
            color: white;
            width: 100%;
            text-align: center;
            padding: 20px;
            margin-bottom: 30px;
        }

        h1 {
            margin: 0;
        }

        .container {
            text-align: center;
            margin-top: 20px;
        }

        .btn {
            display: inline-block;
            margin: 10px;
            padding: 10px 20px;
            font-size: 16px;
            color: white;
            background-color: #F49999;
            text-decoration: none;
            border-radius: 5px;
        }

            .btn:hover {
                background-color: #F78888;
            }



        table {
            width: 1120px;
            border-top: 7px solid #F78888;
            border-collapse: collapse;
            text-align: center;
            margin-bottom: 20px;
            border: 1px solid #dddddd;
        }

        td {
            text-align: left;
            padding: 10px;
            border: 3px solid #F78888;
        }

        th {
            text-align: center;
            padding: 10px;
            border: 3px solid #F78888;
            font-weight: bold;
        }

    </style>
</head>

<header>
<h1>Авторы</h1>
<p>Авторы, чьи книги есть в библиотеке</p>
</header>
<div class="container">
    <a href="/Home/Index" class="btn">Вернуться на главную страницу</a>
    <a href="/authors/Create" class="btn">Добавить автора</a>
    <a href="/authors/Delete" class="btn btn-danger">Удалить автора</a>

</div>
<br></br>
@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <td>
                    ID
                </td>
                <th>
                    Имя
                </th>
                <th>
                    Отчество
                </th>
                <th>
                    Фамилия
                </th>
                <th>
                    Дата рождения
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.middlename)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lastname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.birthdate)
                    </td>
                    <td>
                        <a href="/authors/Edit/@item.id" class="btn btn-primary">Редактировать</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Нет авторов для отображения.</p>
}